html,
body {
    background-color: transparent;
}

.bg_main {
    width: 100%;
    height: 100%;
    position: fixed;
    background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%) no-repeat;
    z-index: -1;
}

.board {
    background-color: transparent;
}

.bullPanel {
    transition: transform 0.5s;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.42);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    padding: 10px;
}